* {
  box-sizing: border-box;
}

.container {
  position: relative; 
  display: inline-block;
}

.health-bar {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
}

.player-health-bar {
  position: relative;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.player-background-health {
  background-color: yellow; 
  height: 30px; 
  width: 100%;
}

#playerHealth {
  position: absolute; 
  background-color: blue; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  width: 100%;
}

#timer {
  background-color: red; 
  width: 100px; 
  height: 100px; 
  flex-shrink: 0; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.enemy-health-bar {
  position: relative; 
  height: 30px; 
  width: 100%;
}

.enemy-background-health {
  background-color: yellow; 
  height: 30px;
}

#enemyHealth {
  position: absolute; 
  background-color: blue; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}

#display-text {
  position: absolute; 
  color: white; 
  display: none; 
  align-items: center; 
  justify-content: center; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}
